<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="dhbk.android.movienanodegree">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MVPApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Movie">
        <activity
            android:name=".ui.listmovie.view.ListMovieActivity"
            android:label="@string/app_name"
            android:theme="@style/Movie.Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.detailmovie.view.MovieDetailActivity"
            android:theme="@style/Movie.Home">
        </activity>

        <!-- content provider -->
        <provider
            android:name=".data.local.MoviesProvider"
            android:authorities="me.maxdev.popularmoviesappp"
            android:exported="false"/>

        <activity android:name=".ui.favorite.FavoriteActivity">
        </activity>
    </application>

</manifest>